.card{
    /*card div is 90% of the width of the viewport, not doing much here since
    our width is maxed out at 800px....*/
    width: 90%;
    margin: 0 auto;
    /*maximum width the main container will go*/
    max-width: 800px;
    background: #111d4a;
    color: #fff;
    display:flex;
    flex-direction: column;
    border:solid black;
}

img{
    object-fit: cover;
    height: 400px;
}
/*Topography*/

.card-title,
.card-read-time,
.card-btn{
    font-family: 'Blinker', sans-serif;
}

.card-title{
    color: #05cbe9;
    font-size: 1.75rem;
}

.card-body{
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.card-btn{
    font-size: 1.25rem;
}